body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #686d76;
}

footer{
    background-color: #686d76 ;
     
}
body{
    background-color: #ffffff;
}

h1{
    font-family: Arial, Helvetica, sans-serif
}

p1+p2{
    font-family: 'Paso elevado', sans-serif;;
}

