body{
    font-family: 'Paso elevado', sans-serif;
    background-color: #f4f4f4 ;
}

header,footer{
    background-color:#b8de6f;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.resaltado{
    font-weight: bold;
}
.contenedor{
    background-color: #bedbbb
} 

.caja{
        height: ;: 3px;
        width: 140px;
        border: 1px solid white
}

.button{
    background-color: transparent;
    border-color:  rgb(76, 147, 230);
    color: rgb(76, 147, 230); 
}

